"""
@Author: Farzana Shaikh
@Date: 19-01-2022 04:00PM
@Last Modified by: Farzana Shaikh
@Last Modified time: 20-01-2022 08:00AM
@Title : NumPy Problems
"""

In [1]:
%run 'Logger.py'
# Importing Logger Object from Logger.py

1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
from Logger import logger
import pandas as pd

def to_create_and_display_array():
    """
       Description:
          Function is used to create and display one dimentional array like object using pandas module.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    data_series = pd.Series([2, 4, 6, 8, 10])
    logger.debug("The one-dimentional array is \n{}".format(data_series))

if __name__ == "__main__":
    to_create_and_display_array()

2022-01-19 16:17:57,552:Logger:The one-dimentional array is
0     2
1     4
2     6
3     8
4    10
dtype: int64

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [6]:
from Logger import logger
import pandas as pd

def to_convert_a_panda_module_to_python_list():
    """
       Description:
          Function is used to convert a Panda module Series to Python list and it's type.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    data_series = pd.Series([2, 4, 6, 8, 10])
    logger.debug("Pandas Series and type \n{}".format(data_series))
    logger.debug("The type of pandas series is {}".format(type(data_series)))
    logger.debug("Convert Pandas Series to Python list")
    logger.debug("The list is {}".format(data_series.tolist()))
    logger.debug("The type of list is {}".format(type(data_series.tolist())))


if __name__ == "__main__":
    to_convert_a_panda_module_to_python_list()

2022-01-20 02:10:48,077:Logger:Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
2022-01-20 02:10:48,078:Logger:The type of pandas series is <class 'pandas.core.series.Series'>
2022-01-20 02:10:48,079:Logger:Convert Pandas Series to Python list
2022-01-20 02:10:48,079:Logger:The list is [2, 4, 6, 8, 10]
2022-01-20 02:10:48,080:Logger:The type of list is <class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [6]:
from Logger import logger
import pandas as pd

def to_perform_operations_on_two_pandas_series():
    """
       Description:
          Function is used to add, subtract, multiple and divide two Pandas Series.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    data_series1 = pd.Series([2, 4, 6, 8, 10])
    data_series2 = pd.Series([1, 3, 5, 7, 9])
    ds = data_series1 + data_series2
    logger.debug("Add two Series:\n {}".format(ds))
    ds = data_series1 - data_series2
    logger.debug("Subtract two Series:\n {}".format(ds))
    ds = data_series1 * data_series2
    logger.debug("Multiply two Series:\n {}".format(ds))
    ds = data_series1 / data_series2
    logger.debug("Divide Series1 by Series2:\n {}".format(ds))
    
   

if __name__ == "__main__":
    to_perform_operations_on_two_pandas_series()

2022-01-20 10:19:07,878:Logger:Add two Series:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
2022-01-20 10:19:07,881:Logger:Subtract two Series:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
2022-01-20 10:19:07,883:Logger:Multiply two Series:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
2022-01-20 10:19:07,886:Logger:Divide Series1 by Series2:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.

In [4]:
from Logger import logger
import pandas as pd
import numpy as np

def to_get_power_of_array():
    """
       Description:
          Function is used to get the powers of an array values element-wise.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
new_array = np.array([1, 2, 3,4,5,6])
ds = pd.Series(new_array)
logger.debug("Original Array :\n {}".format(ds))
power_array = ds.pow(3)
logger.debug ("Element-wise power array:\n {}".format(power_array))

if __name__ == "__main__":
    to_get_power_of_array()

2022-01-20 10:03:07,761:Logger:Original Array :
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
2022-01-20 10:03:07,764:Logger:Element-wise power array:
 0      1
1      8
2     27
3     64
4    125
5    216
dtype: int64

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.

In [5]:
from Logger import logger
import pandas as pd
import numpy as np

def to_create_and_display_dataframe():
    """
       Description:
          Function is used to create and display a DataFrame from a specified dictionary data which has the index labels.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("The dataframe with given index label is \n {}".format(df))


if __name__ == "__main__":
    to_create_and_display_dataframe()

2022-01-20 10:12:16,370:Logger:The dataframe with given index label is
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

9. Write a Python program to select the specified columns and rows from a given data frame.

In [17]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_the_specified_columns_and_rows():
    """
       Description:
          Function is used to select the specified columns and rows from a given data frame.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Selected specific columns and rows:")
    logger.debug("\n {}".format(df.iloc[[1, 3, 5, 6], [1, 3]]))


if __name__ == "__main__":
    to_select_the_specified_columns_and_rows()

2022-01-20 02:47:37,092:Logger:Selected specific columns and rows:
2022-01-20 02:47:37,102:Logger:
    score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

10. Write a Python program to select the rows where the number of attempts in the examination is greater than 2.

In [21]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_number_of_attempts_greater_than_two():
    """
       Description:
           Function is used to select the rows where the number of attempts in the examination is greater than 2.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
          
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Number of attempts in the examination is greater than 2:")
    logger.debug("\n {}".format(df[df['attempts'] > 2]))


if __name__ == "__main__":
    to_select_number_of_attempts_greater_than_two()

2022-01-20 02:54:41,652:Logger:Number of attempts in the examination is greater than 2:
2022-01-20 02:54:41,656:Logger:
       name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

11. Write a Python program to count the number of rows and columns of a DataFrame.

In [24]:
from Logger import logger
import pandas as pd

def to_count_the_number_of_rows_and_columns_of_dataframe():
    """
       Description:
          Function is used to count the number of rows and columns of a DataFrame.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    result = df.shape
    logger.debug("Number of rows and columns of the DataFrame:\n {}".format(result))

if __name__ == "__main__":
    to_count_the_number_of_rows_and_columns_of_dataframe()

2022-01-20 03:00:33,675:Logger:Number of rows and columns of the DataFrame:
 (10, 4)

12. Write a Python program to select the rows where the score is missing, i.e. is NaN.

In [25]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_the_null_values_in_a_rows():
    """
       Description:
          Function is used to select the rows where the score is missing, i.e. is NaN.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Rows where score is missing:")
    logger.debug("\n {}".format(df[df['score'].isnull()]))


if __name__ == "__main__":
    to_select_the_null_values_in_a_rows()

2022-01-20 03:06:19,172:Logger:Rows where score is missing:
2022-01-20 03:06:19,175:Logger:
     name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13. Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [28]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_row_with_specific_condition():
    """
       Description:
          Function is used to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Number of attempts in the examination is less than 2 and score greater than 15 :")
    logger.debug("\n {}".format(df[(df['attempts'] < 2) & (df['score'] > 15)]))


if __name__ == "__main__":
    to_select_row_with_specific_condition()

2022-01-20 03:11:13,239:Logger:Number of attempts in the examination is less than 2 and score greater than 15 :
2022-01-20 03:11:13,246:Logger:
     name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5.

In [31]:
from Logger import logger
import pandas as pd
import numpy as np

def to_change_score_in_a_row():
    """
       Description:
          Function is used to change the score in row 'd' to 11.5.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Original data frame:\n {}".format(df))
    logger.debug("\nChange the score in row 'd' to 11.5:")
    df.loc['d', 'score'] = 11.5
    logger.debug("\n {}".format(df))


if __name__ == "__main__":
    to_change_score_in_a_row()

2022-01-20 03:16:27,439:Logger:Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2022-01-20 03:16:27,441:Logger:
Change the score in row 'd' to 11.5:
2022-01-20 03:16:27,447:Logger:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15. Write a Python program to calculate the sum of the examination attempts by the students.

In [36]:
from Logger import logger
import pandas as pd
import numpy as np

def to_calculate_sum_of_specific_row():
    """
       Description:
          Function is used to calculate the sum of the examination attempts by the students.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Sum of the examination attempts by the students:")
    logger.debug("{}".format(df['attempts'].sum()))

if __name__ == "__main__":
    to_calculate_sum_of_specific_row()

2022-01-20 03:21:11,013:Logger:Sum of the examination attempts by the students:
2022-01-20 03:21:11,015:Logger:19

16. Write a Python program to calculate the mean score for each different student in DataFrame.

In [38]:
from Logger import logger
import pandas as pd
import numpy as np

def to_calculate_mean_score():
    """
       Description:
          Function is used to calculate the mean score for each different student in DataFrame.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Mean score for each different student in data frame:")
    logger.debug("{}".format(df['score'].mean()))


if __name__ == "__main__":
    to_calculate_mean_score()

2022-01-20 03:25:59,623:Logger:Mean score for each different student in data frame:
2022-01-20 03:25:59,625:Logger:13.5625

17. Write a Python program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [13]:
from Logger import logger
import pandas as pd
import numpy as np

def to_append_delete_rows():
    """
       Description:
          Function is used to append and delete rows in dataframe.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    data_frame = pd.DataFrame(exam_data , index=labels)
    logger.debug("Original rows:\n {}".format(data_frame))
    logger.debug("\nAppend a new row:")
    data_frame.loc['k'] = [1, 'Suresh', 'yes', 15.5]
    logger.debug("Print all records after insert a new record:\n {}".format(data_frame))
    data_frame = data_frame.drop('k')
    logger.debug("\nDelete the new row and display the original  rows:\n {}".format(data_frame))

if __name__ == "__main__":
    to_append_delete_rows()

2022-01-20 10:33:21,927:Logger:Original rows:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2022-01-20 10:33:21,927:Logger:
Append a new row:
2022-01-20 10:33:21,935:Logger:Print all records after insert a new record:
         name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima     9.0        3      no
c  Katherine    16.5        2     yes
d      James     NaN        3      no
e      Emily     9.0        2      no
f    Michael    20.0        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin     8.0        2      no
j      Jonas    19.0        1     yes
k          1  Suresh      yes    15.5
2022-01-20 10:33:21,941:Logger:
Delete the new row and display the original  rows:
         name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes

18. Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order

In [19]:
from Logger import logger
import pandas as pd
import numpy as np

def to_sort_values_of_dataframe():
    """
       Description:
          Function is used to sort values of dataframe.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
      'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
      'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
      'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
logger.debug("Orginal rows:\n {}".format(df))
df = df.sort_values(by = 'name', ascending = False).sort_values(by = 'score')
logger.debug("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:\n {}".format(df))

if __name__ == "__main__":
   to_sort_values_of_dataframe()

2022-01-20 10:46:51,126:Logger:Orginal rows:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2022-01-20 10:46:51,133:Logger:Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
         name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
d      James    NaN         3      no
h      Laura    NaN         1      no

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [21]:
from Logger import logger
import pandas as pd
import numpy as np

def to_replace_values_with_boolean():
    """
       Description:
          Function is used to replace row values into boolean value.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Original rows:\n  {}".format(df))
    logger.debug("\nReplace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
    df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
    logger.debug("\n {}".format(df))

if __name__ == "__main__":
    to_replace_values_with_boolean()

2022-01-20 10:52:48,744:Logger:Original rows:
          name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2022-01-20 10:52:48,746:Logger:
Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:
2022-01-20 10:52:48,750:Logger:
         name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

20. Write a Python program to delete the 'attempts' column from the DataFrame.

In [23]:
from Logger import logger
import pandas as pd
import numpy as np

def to_delete_specific_column():
    """
       Description:
          Function is used to delete the specific column.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    arr
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Original rows:\n {}".format(df))
    logger.debug("\nDelete the 'attempts' column from the data frame:")
    df.pop('attempts')
    logger.debug("\n {}".format(df))

if __name__ == "__main__":
    to_delete_specific_column()

2022-01-20 10:57:33,891:Logger:Original rows:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2022-01-20 10:57:33,892:Logger:
Delete the 'attempts' column from the data frame:
2022-01-20 10:57:33,895:Logger:
         name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes