"""
@Author: Farzana Shaikh
@Date: 19-01-2022 04:00PM
@Last Modified by: Farzana Shaikh
@Last Modified time: 19-01-2022 08:00AM
@Title : NumPy Problems
"""

In [1]:
%run 'Logger.py'
# Importing Logger Object from Logger.py

1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
from Logger import logger
import pandas as pd

def to_create_and_display_one_dimentional_array_using_pandas_module():
    ds = pd.Series([2, 4, 6, 8, 10])
    logger.debug("The one-dimentional array is \n{}".format(ds))

if __name__ == "__main__":
    to_create_and_display_one_dimentional_array_using_pandas_module()

2022-01-19 16:17:57,552:Logger:The one-dimentional array is
0     2
1     4
2     6
3     8
4    10
dtype: int64

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [6]:
from Logger import logger
import pandas as pd

def to_convert_a_panda_module_to_python_list():
    """
       Description:
          Function is used to convert a Panda module Series to Python list and it's type.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    ds = pd.Series([2, 4, 6, 8, 10])
    logger.debug("Pandas Series and type \n{}".format(ds))
    logger.debug("The type of pandas series is {}".format(type(ds)))
    logger.debug("Convert Pandas Series to Python list")
    logger.debug("The list is {}".format(ds.tolist()))
    logger.debug("The type of list is {}".format(type(ds.tolist())))


if __name__ == "__main__":
    to_convert_a_panda_module_to_python_list()

2022-01-20 02:10:48,077:Logger:Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
2022-01-20 02:10:48,078:Logger:The type of pandas series is <class 'pandas.core.series.Series'>
2022-01-20 02:10:48,079:Logger:Convert Pandas Series to Python list
2022-01-20 02:10:48,079:Logger:The list is [2, 4, 6, 8, 10]
2022-01-20 02:10:48,080:Logger:The type of list is <class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [7]:
from Logger import logger
import pandas as pd

def to_add_subtract_multiple_divide_two_pandas_series():
    """
       Description:
          Function is used to add, subtract, multiple and divide two Pandas Series.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    ds1 = pd.Series([2, 4, 6, 8, 10])
    ds2 = pd.Series([1, 3, 5, 7, 9])
    ds = ds1 + ds2
    logger.debug("Add two Series:\n {}".format(ds))
    ds = ds1 - ds2
    logger.debug("Subtract two Series:\n {}".format(ds))
    ds = ds1 * ds2
    logger.debug("Multiply two Series:\n {}".format(ds))
    ds = ds1 / ds2
    logger.debug("Divide Series1 by Series2:\n {}".format(ds))
    
   

if __name__ == "__main__":
    to_add_subtract_multiple_divide_two_pandas_series()

2022-01-20 02:21:30,818:Logger:Add two Series:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
2022-01-20 02:21:30,820:Logger:Subtract two Series:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
2022-01-20 02:21:30,821:Logger:Multiply two Series:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
2022-01-20 02:21:30,822:Logger:Divide Series1 by Series2:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.

In [10]:
from Logger import logger
import numpy as np

def to_get_the_powers_of_an_array_values_element_wise():
    """
       Description:
          Function is used to get the powers of an array values element-wise.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    new_array = np.arange(7)
    logger.debug("Original array :\n {}".format(new_array))
    logger.debug("First array elements raised to powers from second array, element-wise:\n {}".format((np.power(new_array, 3))))

if __name__ == "__main__":
    to_get_the_powers_of_an_array_values_element_wise()

2022-01-20 02:27:50,208:Logger:Original array :
 [0 1 2 3 4 5 6]
2022-01-20 02:27:50,210:Logger:First array elements raised to powers from second array, element-wise:
 [  0   1   8  27  64 125 216]

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.

In [11]:
from Logger import logger
import pandas as pd
import numpy as np

def to_create_and_display_dataframe_dictionary_from_index_label():
    """
       Description:
          Function is used to create and display a DataFrame from a specified dictionary data which has the index labels.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("The dataframe with given index label is \n {}".format(df))


if __name__ == "__main__":
    to_create_and_display_dataframe_dictionary_from_index_label()

2022-01-20 02:37:02,125:Logger:The dataframe with given index label is
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

9. Write a Python program to select the specified columns and rows from a given data frame.

In [17]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_the_specified_columns_and_rows_from_given_data_frame():
    """
       Description:
          Function is used to select the specified columns and rows from a given data frame.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Selected specific columns and rows:")
    logger.debug("\n {}".format(df.iloc[[1, 3, 5, 6], [1, 3]]))


if __name__ == "__main__":
    to_select_the_specified_columns_and_rows_from_given_data_frame()

2022-01-20 02:47:37,092:Logger:Selected specific columns and rows:
2022-01-20 02:47:37,102:Logger:
    score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

10. Write a Python program to select the rows where the number of attempts in the examination is greater than 2.

In [21]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_number_of_attempts_greater_than_two():
    """
       Description:
           Function is used to select the rows where the number of attempts in the examination is greater than 2.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
          
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Number of attempts in the examination is greater than 2:")
    logger.debug("\n {}".format(df[df['attempts'] > 2]))


if __name__ == "__main__":
    to_select_number_of_attempts_greater_than_two()

2022-01-20 02:54:41,652:Logger:Number of attempts in the examination is greater than 2:
2022-01-20 02:54:41,656:Logger:
       name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

11. Write a Python program to count the number of rows and columns of a DataFrame.

In [24]:
from Logger import logger
import pandas as pd

def to_count_the_number_of_rows_and_columns_of_dataframe():
    """
       Description:
          Function is used to count the number of rows and columns of a DataFrame.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    result = df.shape
    logger.debug("Number of rows and columns of the DataFrame:\n {}".format(result))

if __name__ == "__main__":
    to_count_the_number_of_rows_and_columns_of_dataframe()

2022-01-20 03:00:33,675:Logger:Number of rows and columns of the DataFrame:
 (10, 4)

12. Write a Python program to select the rows where the score is missing, i.e. is NaN.

In [25]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_the_null_values_in_a_rows():
    """
       Description:
          Function is used to select the rows where the score is missing, i.e. is NaN.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Rows where score is missing:")
    logger.debug("\n {}".format(df[df['score'].isnull()]))


if __name__ == "__main__":
    to_select_the_null_values_in_a_rows()

2022-01-20 03:06:19,172:Logger:Rows where score is missing:
2022-01-20 03:06:19,175:Logger:
     name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13. Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [28]:
from Logger import logger
import pandas as pd
import numpy as np

def to_select_row_with_specific_condition():
    """
       Description:
          Function is used to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Number of attempts in the examination is less than 2 and score greater than 15 :")
    logger.debug("\n {}".format(df[(df['attempts'] < 2) & (df['score'] > 15)]))


if __name__ == "__main__":
    to_select_row_with_specific_condition()

2022-01-20 03:11:13,239:Logger:Number of attempts in the examination is less than 2 and score greater than 15 :
2022-01-20 03:11:13,246:Logger:
     name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5.

In [30]:
from Logger import logger
import pandas as pd
import numpy as np

def to_change_score_in_a_row():
    """
       Description:
          Function is used to change the score in row 'd' to 11.5.
       Parameter:
          No parameter required.
       Return:
          Returns nothing.
    """
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    logger.debug("Original data frame:\n {}".format(df))
    logger.debug("\nChange the score in row 'd' to 11.5:")
    df.loc['d', 'score'] = 11.5
    logger.debug("\n {}".format(df))


if __name__ == "__main__":
    to_change_score_in_a_row()

2022-01-20 03:16:15,728:Logger:Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2022-01-20 03:16:15,730:Logger:
Change the score in row 'd' to 11.5:
2022-01-20 03:16:15,736:Logger:        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes